<div data-target="#navbar-help" data-offset="0" style="position: relative;" scrollspy_>

  <div class="chunk" id="hotkeys">
    <h3>Reader hotkeys</h3>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Hotkey</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr><td>Ctrl + H (hide)</td> <td>Hide/Show read news</td></tr>
      <tr><td>Ctrl + M (minimize)</td> <td>Collapse all feeds</td></tr>
      <tr><td>Ctrl + S (sidebar)</td> <td>Hide/Show sidebar</td></tr>
      </tbody>
    </table>
  </div>



 <!-- <div class="chunk" id="hotkeys">
    <h3>Feedback</h3>
    <p>
      Please feel free to post bugs, feature requests, user interface requests, etc. <br/>
      <button class="btn btn-primary btn-xs" data-target="#feedbackModal" disqus-modal>Leave message</button>

    </p>
  </div>-->

</div>
