#landpage{
    .sidebar, iframe, .controls,.frame_loading,
    .feeds, .settings .feeds, .settings .settings, .settings .import{display:none;}
  display: none;
}
*{ outline: none !important}


body{
  font-family: "Helvetica Neue", 'Open Sans', sans-serif !important;
  font-size:14px;
}
.font-size-small{ font-size:10px; }
.font-size-big{ font-size: 18px; }

label{
  font-weight: 500 !important;
}