<div class='wrap'>
  <div class='folders' folder-list> <!-- todo rewrite folder-list directive -->
    <div class='inner '>
      <div class='list'>
        <div class='folder' ng-repeat='folder in Folders.items' ng-class='getFolderClass(folder)' >
          <div class='row' ng-hide='folder.editing'>
            <div class='col-sm-7 name' ng-click='selectFolder(folder)'>{{folder.name}}</div>
            <div class='col-sm-3 edit'>
              <span ng-hide='folder.isSystem'>
                <i class='glyphicon glyphicon-pencil' ng-click='editFolder(folder)' ></i>
                <i class='glyphicon glyphicon-remove' ng-click='removeFolder(folder)'></i>
              </span> &nbsp;
            </div>
            <div class='col-sm-2 text-right' >{{folder.unreadCount()}}</div>
          </div>

          <div class='new-folder' ng-show='folder.editing'>
            <div class='row'>
              <div class='col-sm-10'>
                <div class='input_box'>
                  <form ng-submit="saveFolderName(folder)">
                    <input class='form-control' id="editFolder_{{folder.id}}" type='text' ng-model='folder.newName' placeholder='Enter new folder name...' />
                    <i class='glyphicon glyphicon-ok' ng-click='saveFolderName(folder)'></i>
                  </form>
                </div>
              </div>

              <div class='col-sm-2 text-right' >{{folder.unreadCount()}}</div>
            </div>
          </div>

        </div>
      </div>

    </div>

    <div class='title folder row'>
      <div class='col-sm-10'>
        <i class='glyphicon glyphicon-folder-open'></i>&nbsp; {{selectedFolder.name}}
      </div>
      <div class="col-sm-2 text-right">{{selectedFolder.unreadCount()}}</div>
    </div>
  </div>

  <div class='main_ctrls'>
    <div class="btn-group btn-group-sm">

      <button class='btn btn-dark btn-sm'
              ng-show='selectedFolder.latestNews'
              ng-click='selectedFolder.getFeeds()[0].markRead()'>Mark read</button>

      <!--todo onclick-->
      <button class='btn btn-dark btn_'
              ng-hide='selectedFolder.latestNews'
              add-new-feed>Add new source</button>
      <a class="btn btn-dark btn-small feedback" href="https://github.com/sergerusso/FeedBundle/issues" browser-link>Report issue</a>
    </div>


  </div>
  <div class='main_ctrls' ng-hide='selectedFolder.id == "latest"'>
  </div>

  <div class='menu'>
    <div ng-repeat='feed in selectedFolder.getFeeds()'>  <!-- Feeds.unread(feed.items) == 0 && !Settings.unread || -->

      <div class='title_wrap' ng-class='{expanded: feed.expanded}' ng-hide="feed.isComposite" >
        <div class='title' ng-click='toggleFeed(feed)'>
          <i class='glyphicon glyphicon-minus-sign' ng-show='feed.expanded'></i>
          <i class='glyphicon glyphicon-plus-sign' ng-hide='feed.expanded'></i>
          {{feed.title}}
        </div>

        <div class="ctrls">
          <img src='../../assets/images/warning-mini.png' ng-show='feed.error'/>
          <img src='../../assets/images/loader-mini.gif' ng-show='feed.updating'/>
          <span class="badge"
                title="Double click to mark it as read"
                ng-class='{"badge-warning": feed.unreadCount() > 0 }'
                dblclick-read
          >{{feed.unreadCount()}}</span>
          <span class='dropdown'>
              <span class="badge options" data-toggle="dropdown">
                  <i class="glyphicon glyphicon-chevron-down"></i>
              </span>

              <ul class="dropdown-menu" role="menu">
                <li><a href ng-click='feed.markRead()' ng-show='feed.unreadCount() > 0'><i class='glyphicon glyphicon-eye-open'></i> Mark read</a></li>
                <li><a href='#/settings/edit/{{feed.id}}'><i class='glyphicon glyphicon-pencil'></i> Edit</a></li>
                <li><a href ng-click='Feeds.remove(feed)'><i class='glyphicon glyphicon-remove'></i> Remove</a></li>
              </ul>
          </span>

        </div>
      </div>
      <!-- todo move to directive?-->
      <a href=""
         ng-hide='item.read && !Settings.unread && !isActiveFeedItem(item) && !selectedFolder.isBookmarks'
         ng-click='showFeedItem(item, feed)'
         class='item'
         ng-class='{active: isActiveFeedItem(item), read: item.read, full_title:Settings.fullTitle}'
         ng-repeat='item in feed.items | filter_news :feed'
        >
        <div class="title" ng-class='{full_title:Settings.fullTitle}'>{{item.title}}</div>
        <span class="bookmark glyphicon "
              ng-class="{'glyphicon-star-empty': !item.marked, 'glyphicon-star': item.marked, marked:item.marked}"
              ng-click-no-prop="toggleBookmark(feed, item)">

        </span>
      </a>
      <div class='no_feeds' ng-show='feed.unreadCount() == 0 && !Settings.unread && feed.expanded'>
        No new items &nbsp;<button class="btn btn-xs btn-primary " href ng-click="Settings.set('unread', 1)">Show all</button>

      </div>

    </div>
  </div>

  <!--<div class='no_feeds' ng-show='Feeds.is_read() && Feeds.isset() && !Settings.unread'>
      No news :(<Br/> <a href ng-click="Settings.set('unread', 1)">Show all</a>
  </div>-->


</div>
