<div class="content">

  <div class="jumbotron">
    <h1>Feed<span class='color'>Bundle</span></h1>
    <p>Your minimalistic RSS news reader.<br/>


    <div class="extra">
      <div class="row">

        <!-- tuts and feedback buttons -->
        <div class="col-sm-6_ ">

          <!-- feedback -->


          <!-- tuts
          <div class="btn-group">
            <a class="btn btn-xs btn-default dropdown-toggle disabled" data-toggle="dropdown">Tutorials <span class="caret"></span></a>
            <ul class="dropdown-menu tuts">
              <li><a>It's<br/>coming</a></li>
            </ul>
          </div>  -->

        </div>



      </div>
    </div>

  </div>




  <div class='copyright'>
    <a href="http://www.sergerusso.com/" browser-link>sergerusso</a>
  </div>
</div>