
<!-- todo implement back button; just main content -->
<viewport url="feedItem.url" item="feedItem" extract-text="feed.extractText"></viewport>


<div class='sidebar' disable-select ng-include="'views/reader/_sidebar.html'"></div>

<div class='btn-settings dropdown'>
  <a href class='tools btn btn-default' show_tools data-toggle="dropdown" ng-show='sidebar_expanded'><i class="glyphicon glyphicon-wrench"></i></a>
  <a href class='btn btn-default toggle_sidebar' ng-hide='sidebar_expanded' toggle-sidebar><i class="glyphicon glyphicon-chevron-left"></i></a>

  <ul class="dropdown-menu" role="menu">
    <li><a href='#!/settings/general'><i class='glyphicon glyphicon-wrench'></i> Settings</a></li>
    <li><a href toggle-sidebar><i class='glyphicon glyphicon-chevron-right'></i> Hide sidebar</a></li>
    <!--<li><a href><i class='glyphicon glyphicon-chevron-right'></i> Filters</a></li>-->

    <li><a href ng-click="Settings.set('unread', 0)" ng-show="Settings.unread"><i class='glyphicon glyphicon-eye-close'></i> Hide read
    </a></li>
    <li><a href class="" ng-click="Settings.set('unread', 1)" ng-hide="Settings.unread"><i class='glyphicon glyphicon-eye-open'></i>
      Show read </a></li>

    <li><a href ng-click="Feeds.update()"><i class='glyphicon glyphicon-refresh'></i> Update</a></li>
    <!--<li><a href ng-click="collapseAll()"><i class='glyphicon glyphicon-minus-sign'></i> Collapse all</a></li>-->
    <li><a href='#!/settings/help/' ><i class=' glyphicon glyphicon-question-sign'></i> Help</a></li>
  </ul>
</div>


<feed-modal feed="feedModal"></feed-modal>